name: Tests

on:
  pull_request:
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libfreetype6-dev libjpeg-dev libpng-dev libtiff-dev
          
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Install dependencies
        run: uv sync --all-groups

      - name: Run tests for PR
        run: |
          uv run pytest --cov-config=.coveragerc --cov=.
          uv run coverage xml

      - name: Get Cover
        if: github.event_name == 'pull_request'
        uses: orgoro/coverage@v3.2
        with:
          coverageFile: coverage.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          thresholdAll: 0.98

      - name: Run coverage report
        if: github.event_name != 'pull_request'
        run: uv run coverage report
